{% extends "layout.html" %}
{% block content %}
      <H3><p>Добро пожаловать на сайт Библиотеки Священной Чиллской Империи</p></H3>
<p style="text-align: justify;"><span style="font-size:18px;"><span style="color:#0000CD;"><font size="4" color="Black" face="TimesNewRoman"> Чиллинградская центральная районная библиотека приветствует Вас на своем сайте.  Здесь  Вы найдете информацию о работе библиотеки, ее филиалов, о новых поступлениях литературы, проводимых мероприятиях.</span></span></span></font></p>
        <p style="text-align: center;"><img alt="" src="https://psv4.userapi.com/c856320/u269824753/docs/d17/e54d39a1c861/Chill_library.png?extra=amEPdnwMxW__OvH_Q-vbhZQqMfvF55TMhhgeQrwsMdnvyXYw5GFJtH9TPj6_rqOFqssQsXVfumftslgVXn60hgj4bsUoqZ6FugqFJiwN4GCLcMJ4A64x3j_ZGOJwDhwcDGVugsUc0J6ru-hH_D1PRXKvTw" width="400" height="400" /></p>


{% endblock content %}
